{% extends 'padneb/base.html' %}
 {% block content %}
 <html>
    <head>
        <meta charset="UTF-8">
        <title>Maverick Food Services</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
    <style>
        body {
            background-color: CornSilk;
        }
    </style>

    <div class="container">
        <div class="row" align="center">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading" align="center"></div>
                    <div class="panel-body">Maverick Food Services, Ingredients For Your Success!.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 style="padding-left: 15Px">Contact Us</h2>
    </div>

    <div class="w3-container w3-teal" align="center">
        <h1>Our contacts</h1>
        <div class="w3-container" align="center">
            <p>Address: Maverick Food Service is self starter student Owned.</p>
            <p>Phone: 402-001-0001</p>
            <p>Email:.mavfood@uno.edu</p>
        </div>
    </div>
    </body>
 {% endblock %}